body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(108, 255, 255);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 60%;
    margin: 0 auto;
}

h1 {
    color: #000000;
}

.content {
    text-align: center;
}

.text-box {
    width: 30%;
    margin-top: 1rem;
}

.trash-btn img {
    padding-top: 0.15rem;
    width: 20px;
}

.trash-btn img:hover {
    background-color: lightcoral;
}